<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Tell us about your new dog</h1>
    <form method="POST" action="/newpup">
      <p>Name: <input type="text" name="name"></p>
      <p>Breed: <input type="text" name="breed"></p>
      <p>Age: <input type="text" name="age"></p>
      <input type="submit">
    </form>
  </body>
</html>
